@media only screen and (min-width: 800px) {
  body {
    text-align: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  div {
    perspective: 700px;
  }
  .grid-box {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    justify-content: center;
    transform-style: preserve-3d;
    transform: rotateX(50deg);
  }
  .grid-box > button {
    border: 2px solid black;
    min-height: 100%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: brown;
    border-radius: 15px;
  }
  .refresh {
    width: 300px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    color: brown;
    font-weight: 600;
    margin-top: 20px;
  }
  #none {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    min-width: 1000vw;
    min-height: 1000vh;
    background: #314659;
    opacity: 0.5;
  }
  #noneText {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: scale(10);
    font-weight: 600;
    z-index: 11;
    letter-spacing: 1px;
    color: white;
    text-align: center;
  }
  .header {
    font-size: 50px;
    font-weight: 600;
  }
  .watermark {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: -1;
  }
}
@media only screen and (max-width: 800px) {
  body {
    text-align: center;
  }
  .grid-box {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 20vw 20vw 20vw;
    grid-gap: 1vw;
    justify-content: center;
    margin: 3vw auto;
  }
  .grid-box > button {
    border: 0.2vw solid black;
    min-height: 100%;
    font-size: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: brown;
    border-radius: 2vw;
  }
  .refresh {
    width: 40vw;
    height: 8vw;
    font-size: 4vw;
    border-radius: 2vw;
    color: brown;
    font-weight: 600;
  }
  #none {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    min-width: 100vw;
    min-height: 100vh;
    background: #314659;
    opacity: 0.5;
  }
  #noneText {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: scale(5);
    font-weight: 600;
    z-index: 11;
    color: white;
    text-align: center;
  }
  .header {
    font-size: 6vw;
    font-weight: 600;
  }
  .watermark {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    z-index: -1;
  }
}
